Source: <lib_name><maj_version>
Priority: optional
Maintainer: <author>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Section: libs
Homepage: <url>

Package: <lib_name>-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: <lib_name><maj_version> (= ${binary:Version}), ${misc:Depends}
Description: Development Package of 'lib<lib_name>'
 This is the development package of the library 'lib<lib_name>'. This library
 contains the box implemntation of the Streamix box '<box_name>'.

Package: <lib_name><maj_version>
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Box implmentation of the Streamix box '<box_name>'
 This is a box implementation to be used in a network described with the
 coordination language Streamix.
 .
<desc>
