Source: <lib_name><maj_version>
Priority: optional
Maintainer: <author>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Section: libs
Homepage: <url>

Package: <lib_name>-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: <lib_name><maj_version> (= ${binary:Version}), ${misc:Depends}
Description: <desc_dvl_60>
<desc_dvl>

Package: <lib_name><maj_version>
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <desc_60>
<desc>
