Package: lib<lib_name>-<maj_version>
Version: <version>
Section: base
Priority: optional
Architecture: amd64
Depends: libsmxrts-0.2 (>= 0.2.0-0)
Maintainer: YOUR NAME <YOUR EMAIL>
Description: Box implmentation of the Streamix box '<box_name>'
 This is a box implementation to be used in a network described with the
 coordination language Streamix.
 .
 ADD A DESCRIPTION HERE, ALWAYS STARTING WITH A SPACE ON EACH LINE
