Package: libsmxmsg<msg_name>-<maj_version>
Version: <version>
Section: base
Priority: optional
Architecture: amd64
Depends: libsmxrts-0.2 (>= 0.2.0-0)
Maintainer: YOUR NAME <YOUR EMAIL>
Description: Message handlers for the Streamix message type 'smx_msg_<msg_name>'
 This is a message definition to be used in Streamix box implemnetations.
 .
 ADD A DESCRIPTION HERE, ALWAYS STARTING WITH A SPACE ON EACH LINE
