Source: <bin_name><maj_version>
Section: unknown
Priority: optional
Maintainer: <author>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: http://phhum-a209-cp.unibe.ch:10012/SMX/SMX-apps/<app_name>

Package: <bin_name><maj_version>
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Streamix Application '<app_name>'
 This is an application that was created with the coordination language Streamix.
