Source: <app_name><maj_version>
Section: unknown
Priority: optional
Maintainer: <author>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: <url>

Package: <app_name><maj_version>
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Streamix Application '<app_name>'
 This is an application that was created with the coordination language Streamix.
